/*スマホ向け*/
@media(max-width: 670px ){
.sp-none{
	display: none;
}

.container {
	max-width:100%;
	margin: 0 auto;
	/*width: 960px;*/
}


h1 {
	width: 100%;
	font-size: 35px;
}
.top-menu{
	display: none;
}
.menu-icon {
	display: block;
	float:left;
	width: 40px;
	height: 40px;
	margin:0 45%;
}

.hum-btn{
	display: block;

}
.drawer-menu{
	border-top: 1px solid #808080;
	border-left:1px solid #808080;
}
.drawer-menu li{
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	text-align: center;
}
.drawer-menu a{
	/*color: green;*/
	font-family: 'Lobster', cursive;
	font-size: 20px;
	line-height: 40px;
}

.tbox-right{
	margin: 10px 10px 10px 20px;

}

dl{
	font-size: 13px;
}
dt{
	width: 20%;
}


.work{
	width: 100%;
	margin-bottom: 80px;
}


.blog{
	width: 100%;
	/*margin-bottom: 60px;*/
}

.box_con{
	width: 100%;	
}

.footer-menu{
	width: 100%;
	height: 120px;
	border-top: 1px solid #808080;
	border-left:1px solid #808080;
}

.footer-menu-item{
	float: left;
	width: 50%;
	line-height: 60px;
	text-align: center;

	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	/*線の重なりを回避*/
	
}
/*.panel .row .data{*/
	/*display: table-cell;  inline-block から変更 */
  	/*border: 1px solid;
  	width: 5rem;
  	border: 1px solid;
}*/

}

input,textarea{
	width: 90%;
}
.contact-submit{
	margin: 0 auto;
	width:90%;
}







/*タブレット向け*/
@media(max-width: 1000px){


















}